### Binomial Classification using Logistic Regression

In [3]:
import pandas as pd
from seaborn import load_dataset

df = load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [6]:
df = df[df["species"] != "versicolor"]
df["species"].unique()

array(['setosa', 'virginica'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()

df["species_encoded"] = lb.fit_transform(df["species"])
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_encoded
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,1
146,6.3,2.5,5.0,1.9,virginica,1
147,6.5,3.0,5.2,2.0,virginica,1
148,6.2,3.4,5.4,2.3,virginica,1
149,5.9,3.0,5.1,1.8,virginica,1

In [10]:
from sklearn.model_selection import train_test_split

x = df.drop(columns=["species", "species_encoded"])
y = df["species_encoded"]

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.3, random_state=0)

In [12]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(x_train, y_train)

y_pred = lr.predict(x_test)

In [13]:
y_pred_decoded = lb.inverse_transform(y_pred)
y_pred_decoded

array(['setosa', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'setosa', 'setosa', 'setosa',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'setosa',
       'virginica', 'virginica', 'virginica', 'setosa', 'virginica',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'virginica', 'virginica', 'setosa', 'setosa',
       'setosa', 'virginica', 'setosa', 'setosa', 'setosa', 'virginica',
       'setosa', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'setosa', 'virginica', 'setosa', 'virginica'],
      dtype=object)

In [15]:
from sklearn.metrics import accuracy_score, confusion_matrix

print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 1.0
Confusion Matrix:
[[36  0]
 [ 0 34]]